/*----- Text color -----*/

.text-main {
  color: #e4e6eb;
}

.text-tan {
  color: #c7af8b !important;
}

.text-violet {
  color: #9360f7 !important;
}

.text-pink {
  color: #e87093 !important;
}

.text-slate-blue {
  color: #6a5acd !important;
}

.text-sea-green {
  color: #3cb371 !important;
}

.text-tomato {
  color: #f18072 !important;
}

.text-blue-sky{
  color:  #4643ee;
}