.left {
  .sidebar-menu {
    padding: 0.65rem;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      hr {
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
        border-top: 1px solid #3a3b3c;
      }

      li {
        list-style: none;

        a {
          color: #b0b3b8;
          padding: 0.5rem 0.65rem;
          border-radius: 0.45rem;
          display: block;

          &:hover {
            background-color: #3a3b3c;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.text-yellow{
  color: yellow;
}
.text-slate-blue{
  color: #51c3d6 !important;
}
.text-violet{
  color: #9360f7 !important;
}
.text-orange{
  color: #ff7441 !important;
}