@import "../config/color";
@import "../config/variables";

$color-input-text: #a5a5a5 !default;
$color-input-checkbox-checked: #91b4d5 !default;
$border-radius-rounded: 2rem;


.form {
  background-color: $color-ui-dark;
  padding: 1.5rem;
  border-radius: $border-radius;

  &__title {
    text-align: center;
    margin: 1rem 0 2.2rem 0;
  }

  &__label {
    i {
      font-size: 0.915rem;
    }

    &--icon {
      position: absolute;
      margin-top: .575rem;
      margin-left: 1rem;
      color: $color-input-text;
      z-index: 1;
    }
  }

  &__link {
    color: $color-input-text;
    padding-bottom: 0.5rem;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $color-input-text;
    }
  }

}

.form-control {
  padding: 0.45rem 1.25rem 0.45rem 1.25rem;
  height: calc(1.5em + 1rem + 2px);
  font-size: .95rem;
  color: #fff !important;
  background-color: $color-dark;
  border: none;
  border-radius: $border-radius;

  &--rounded {
    border-radius: $border-radius-rounded !important;
  }

  &--icon {
    padding: 0.45rem 1.25rem 0.45rem 2.75rem;
  }

  &:placeholder {
    color: $color-input-text;
    opacity: 1;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.25);
  }

}


.custom-control {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 1.5rem;
  padding-left: 1.5rem;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked~.custom-control__indicator {
      color: #fff;
      background-color: $color-input-checkbox-checked;
    }
  }

  &__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    .custom-checkbox & {
      border-radius: 50%;
    }
  }

  &__description {
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
  }

  input[type=radio],
  input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }

}