/*----- Nav bar -----*/
@import "../config/color";

.nav-bar {
  padding: 0.625rem;
  margin-top: 1rem;
  margin-bottom: 1.25rem;

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;

    a {
      color: #c7af8b;
      padding: 0 0.35rem;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.55rem;
      font-style: italic;

      &:hover {
        color: #ffc107;
        text-decoration: none;
      }
    }
  }

  a {
    color: #e4e6eb;
  }

  .nav-bar-content {
    display: flex;
    justify-content: space-between;

    .nav-btn > ul {
      display: flex;
      justify-content: space-between;
    }
  }

  .nav-btn {
    .btn-icon {
      width: 2.5rem;
      height: 2.5rem;
      background-color: $color-dark;
      border-radius: 50%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      position: relative;

      .dropdown-toggle::after {
        display: none;
      }

      a {
        position: relative;
      }

      .icon {
        font-size: 1.125rem !important;
      }

      .c-badge {
        position: absolute;
        top: -2px;
        right: -5px;
        background-color: #dc3545;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        font-size: 11px;
        font-weight: 500;
        display: block;
        text-align: center;
      }
    }

    .btn-icon > a:hover {
      background-color: transparent !important;
    }

    ul.dropdown-menu {
      top: 18px !important;
      padding: 0.6rem;
    }

    .dropdown-menu {
      .dropdown-item {
        padding: 0.65rem;

        &:hover {
          background-color: $color-dark;
        }

        &.view-all-link {
          padding: 0.5rem 0.65rem !important;
        }

        .media {
          .media-object {
            border-radius: 50%;
          }

          .media-heading {
            font-weight: 500;
            font-size: 0.95rem;
          }

          .text {
            font-size: 0.925rem;
          }
        }
      }

      .dropdown-item > a {
        display: block;

        &:hover {
          text-decoration: none;
        }
      }

      &.action-dropdown {
        .dropdown-item {
          padding: 0.5rem 0.65rem;
        }
      }
    }
  }
}

/* .nav-bar .nav-btn .btn-icon:hover {
  background-color: #4e4f50;
} */

/* ----- Responsive for Nav bar ----- */

@media (max-width: 991.98px) {
  .nav-bar {
    .navbar-brand {
      display: none;
    }

    .px-fix {
      padding-left: 18%;
      padding-right: 18%;
    }

    .nav-bar-content {
      .nav-btn {
        width: 100%;

        ul {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .nav-bar .btn-icon .dropdown-menu .dropdown-item {
    padding: 0.45rem 0.65rem;
  }
}
